{% extends 'base.html' %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="frame bg-secondary text-light mx-auto">
                <div>
                    <a href="/admin"><h3>Admin Console</h3></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="frame bg-secondary text-light mx-auto">
                <div>
                    <a href="{% url 'add' %}"><h3>Submit New expense</h3></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="frame bg-dark text-light mx-auto\">
                <div>
                    <a href="{% url 'show' %}"><h3>Show expenses</h3></a>
                </div>
            </div>
        </div>
    </div>





</section>
{% endblock %}