{% extends 'base.html' %}
{% load cloudinary %}

{%block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Invoice</th>
      <th scope="col">Invoice Reference</th>
      <th scope="col">Credit</th>
      <th scope="col">Debit</th>
      <th scope="col">Supplier</th>
      <th scope="col">Receipt Date</th>
      <th scope="col">Submission Date</th>
      <th scope="col">Submitted by</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.invoice }}</td>
      <td>{{ item.invoice_reference }}</td>
      <td>SGD $ {{ item.accounts_receivables }}</td>
      <td>SGD $ {{ item.accounts_receivables }}</td>
      <td>{{ item.accounts_payable }}</td>
      <td>@{{ item.inv_date }}</td>
      <td>{{ item.log_datetime }}</td>
      <td>{{ item.submitter }}</td>
      <td>Edit/Delete</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ item.car_plate }}


{% for item in data %}
<div>
    {{ item.balance }}
    
    
    {{ item.financial_year }}
    {{ item.month }}
    
    
    {% cloudinary item.cover width=100 crop="fill" alt_text="image not available, refer to year folder"%}
</div>

<!-- Edit Button -->
<a type="button" class="btn btn-primary" href="{% url 'edit' item_id=item.id %}">
    Edit
</a>

<!-- Delete Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirm removing {{ item.invoice }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{% url 'delete' item_id=item.id %}" >Remove forever</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{%endblock%}